In [2]:
import requests
getfolder=requests.get('https://www.bondora.com/marketing/media/LoanData.zip')

In [3]:
import zipfile,io
import pandas as pd 
import numpy as np
from matplotlib import pyplot
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree
# Import label encoder
from sklearn import preprocessing

In [4]:
unzipfolder=zipfile.ZipFile(io.BytesIO(getfolder.content))
unzipfolder.open('LoanData.csv')

In [5]:
Zipcsvdf = pd.read_csv(unzipfolder.open('LoanData.csv'),engine="python")
Zipcsvdf.head()
date=Zipcsvdf['ReportAsOfEOD'].unique()

In [6]:
data1=Zipcsvdf[['Age','PartyId','Amount','LoanDuration','Country','Education','UseOfLoan','PrincipalPaymentsMade','IncomeFromPrincipalEmployer','EmploymentStatus','Gender','HomeOwnershipType','IncomeTotal','MonthlyPayment','InterestAndPenaltyBalance','MaritalStatus','NewCreditCustomer','NoOfPreviousLoansBeforeLoan','PreviousEarlyRepaymentsCountBeforeLoan','Status']]
data1

,Age,PartyId,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,53,{EBF05573-554D-4A3B-BC77-A2CF00B7D110},2125.0,60,EE,4.0,2,995.83,0.0,6.0,1.0,1.0,354.0,62.05,507.21,2.0,False,1.0,0.0,Late
1,25,{F6507F91-F992-41FA-BB4C-AC37009B3E58},531.0,60,EE,1.0,-1,14.74,0.0,-1.0,0.0,1.0,947.0,16.67,0.00,-1.0,False,8.0,0.0,Current
2,50,{46C6CBA4-0FBE-44AD-9304-A3EF0111A5FB},3000.0,60,EE,5.0,3,729.87,900.0,5.0,1.0,1.0,900.0,84.75,2429.70,2.0,False,1.0,1.0,Repaid
3,44,{CA64DA9B-8E95-450E-9EFE-A58601016DB2},9100.0,60,EE,4.0,3,6537.00,600.0,5.0,0.0,8.0,1200.0,268.57,0.00,4.0,True,0.0,0.0,Repaid
4,42,{F08F654D-DB2E-4C4B-8C90-A46100FCE7B6},1500.0,60,ES,2.0,2,464.73,863.0,3.0,0.0,2.0,863.0,63.53,2972.09,1.0,True,0.0,1.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252456,58,{2513C653-4D23-4F77-9D00-A4F200CDC2B3},3000.0,60,EE,3.0,6,3000.00,350.0,3.0,1.0,1.0,350.0,88.71,0.00,1.0,True,0.0,0.0,Repaid
252457,64,{B731A410-81A9-4929-AD3F-A05000FEFBDB},1300.0,48,EE,4.0,6,475.78,557.0,4.0,0.0,1.0,867.0,41.42,0.00,1.0,False,4.0,2.0,Repaid
252458,52,{B28536DD-51E0-45B0-96DE-9D7E00C0AC6D},531.0,60,EE,1.0,-1,5.92,0.0,-1.0,1.0,1.0,400.0,14.53,NaN,-1.0,False,1.0,0.0,Current
252459,38,{13148889-E29D-4661-8AEC-A43600BC8177},531.0,60,EE,4.0,-1,12.76,0.0,-1.0,1.0,1.0,900.0,14.44,NaN,-1.0,False,5.0,0.0,Current
252460,56,{AB2D974C-E661-4D9A-8D09-ACBC017DD033},318.0,60,EE,4.0,-1,0.01,0.0,-1.0,1.0,1.0,500.0,9.49,NaN,-1.0,False,5.0,0.0,Current

In [7]:
#some category's labels have - signe so we use np.abs to convert negatives values to positives
data1[['Education','EmploymentStatus','Gender','UseOfLoan','HomeOwnershipType','MaritalStatus']]=np.abs(data1[['Education','EmploymentStatus','Gender','UseOfLoan','HomeOwnershipType','MaritalStatus']])
data1

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Age,PartyId,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,53,{EBF05573-554D-4A3B-BC77-A2CF00B7D110},2125.0,60,EE,4.0,2,995.83,0.0,6.0,1.0,1.0,354.0,62.05,507.21,2.0,False,1.0,0.0,Late
1,25,{F6507F91-F992-41FA-BB4C-AC37009B3E58},531.0,60,EE,1.0,1,14.74,0.0,1.0,0.0,1.0,947.0,16.67,0.00,1.0,False,8.0,0.0,Current
2,50,{46C6CBA4-0FBE-44AD-9304-A3EF0111A5FB},3000.0,60,EE,5.0,3,729.87,900.0,5.0,1.0,1.0,900.0,84.75,2429.70,2.0,False,1.0,1.0,Repaid
3,44,{CA64DA9B-8E95-450E-9EFE-A58601016DB2},9100.0,60,EE,4.0,3,6537.00,600.0,5.0,0.0,8.0,1200.0,268.57,0.00,4.0,True,0.0,0.0,Repaid
4,42,{F08F654D-DB2E-4C4B-8C90-A46100FCE7B6},1500.0,60,ES,2.0,2,464.73,863.0,3.0,0.0,2.0,863.0,63.53,2972.09,1.0,True,0.0,1.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252456,58,{2513C653-4D23-4F77-9D00-A4F200CDC2B3},3000.0,60,EE,3.0,6,3000.00,350.0,3.0,1.0,1.0,350.0,88.71,0.00,1.0,True,0.0,0.0,Repaid
252457,64,{B731A410-81A9-4929-AD3F-A05000FEFBDB},1300.0,48,EE,4.0,6,475.78,557.0,4.0,0.0,1.0,867.0,41.42,0.00,1.0,False,4.0,2.0,Repaid
252458,52,{B28536DD-51E0-45B0-96DE-9D7E00C0AC6D},531.0,60,EE,1.0,1,5.92,0.0,1.0,1.0,1.0,400.0,14.53,NaN,1.0,False,1.0,0.0,Current
252459,38,{13148889-E29D-4661-8AEC-A43600BC8177},531.0,60,EE,4.0,1,12.76,0.0,1.0,1.0,1.0,900.0,14.44,NaN,1.0,False,5.0,0.0,Current
252460,56,{AB2D974C-E661-4D9A-8D09-ACBC017DD033},318.0,60,EE,4.0,1,0.01,0.0,1.0,1.0,1.0,500.0,9.49,NaN,1.0,False,5.0,0.0,Current

In [8]:
#check if the data are balance 
countDF=data1[data1['Status']=='Repaid']['Status'].count()
countDF1=data1[data1['Status']=='Late']['Status'].count()
print(countDF1)
print(countDF)

74636
89314

In [9]:
#drop loan that still in progress
data2=data1[((data1['Status']=='Late') | (data1['Status']=='Repaid'))].copy()
data2

,Age,PartyId,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,53,{EBF05573-554D-4A3B-BC77-A2CF00B7D110},2125.0,60,EE,4.0,2,995.83,0.0,6.0,1.0,1.0,354.0,62.05,507.21,2.0,False,1.0,0.0,Late
2,50,{46C6CBA4-0FBE-44AD-9304-A3EF0111A5FB},3000.0,60,EE,5.0,3,729.87,900.0,5.0,1.0,1.0,900.0,84.75,2429.70,2.0,False,1.0,1.0,Repaid
3,44,{CA64DA9B-8E95-450E-9EFE-A58601016DB2},9100.0,60,EE,4.0,3,6537.00,600.0,5.0,0.0,8.0,1200.0,268.57,0.00,4.0,True,0.0,0.0,Repaid
4,42,{F08F654D-DB2E-4C4B-8C90-A46100FCE7B6},1500.0,60,ES,2.0,2,464.73,863.0,3.0,0.0,2.0,863.0,63.53,2972.09,1.0,True,0.0,1.0,Late
5,34,{DAFC5C08-8201-4654-9D06-A56D00084659},1090.0,48,ES,4.0,7,0.01,0.0,6.0,1.0,3.0,697.0,101.19,4461.78,4.0,True,0.0,0.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252452,38,{302F94E7-64CB-4BD4-A2E4-A43001129494},2000.0,60,FI,3.0,6,0.00,1500.0,3.0,1.0,3.0,2300.0,76.11,4284.86,1.0,True,0.0,0.0,Late
252453,37,{F6CBE499-95EA-467A-B930-A3CD00B3A1CA},7440.0,60,FI,4.0,0,7440.00,2172.0,3.0,0.0,4.0,2172.0,232.40,0.00,3.0,False,2.0,0.0,Repaid
252455,37,{289CB355-E120-4365-9052-A3120148A7B1},1485.0,60,ES,3.0,7,1485.00,1550.0,3.0,0.0,8.0,1550.0,93.08,0.00,3.0,False,3.0,1.0,Repaid
252456,58,{2513C653-4D23-4F77-9D00-A4F200CDC2B3},3000.0,60,EE,3.0,6,3000.00,350.0,3.0,1.0,1.0,350.0,88.71,0.00,1.0,True,0.0,0.0,Repaid
252457,64,{B731A410-81A9-4929-AD3F-A05000FEFBDB},1300.0,48,EE,4.0,6,475.78,557.0,4.0,0.0,1.0,867.0,41.42,0.00,1.0,False,4.0,2.0,Repaid

In [10]:
data2.isnull().sum()

Age                                           0
PartyId                                       0
Amount                                        0
LoanDuration                                  0
Country                                       0
Education                                    50
UseOfLoan                                     0
PrincipalPaymentsMade                         0
IncomeFromPrincipalEmployer                   0
EmploymentStatus                            202
Gender                                       45
HomeOwnershipType                          1657
IncomeTotal                                   0
MonthlyPayment                             6671
InterestAndPenaltyBalance                 23579
MaritalStatus                                50
NewCreditCustomer                             0
NoOfPreviousLoansBeforeLoan                   8
PreviousEarlyRepaymentsCountBeforeLoan        8
Status                                        0
dtype: int64

In [11]:
(data2.isnull().sum()/data2.shape[0]).sum()

0.19682830131137544

In [12]:
#replace Intrest and penalty that still not payed null value  by 0 when the borrower haven't get a loan before 
data2['InterestAndPenaltyBalance'][(data2['InterestAndPenaltyBalance'].isnull()) & (data2['NewCreditCustomer']==True)]=0

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/3412816382.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['InterestAndPenaltyBalance'][(data2['InterestAndPenaltyBalance'].isnull()) & (data2['NewCreditCustomer']==True)]=0

In [13]:
#replace NoOfPreviousLoansBeforeLoan et PreviousEarlyRepaymentsCountBeforeLoan null value  by 0 when the borrower haven't get a loan before 
data2['NoOfPreviousLoansBeforeLoan'][(data2['NoOfPreviousLoansBeforeLoan'].isnull()) & (data2['NewCreditCustomer']==True)]=0
data2['PreviousEarlyRepaymentsCountBeforeLoan'][(data2['PreviousEarlyRepaymentsCountBeforeLoan'].isnull()) & (data2['NewCreditCustomer']==True)]=0

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/781707990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['NoOfPreviousLoansBeforeLoan'][(data2['NoOfPreviousLoansBeforeLoan'].isnull()) & (data2['NewCreditCustomer']==True)]=0
C:\Users\houss\AppData\Local\Temp/ipykernel_2724/781707990.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['PreviousEarlyRepaymentsCountBeforeLoan'][(data2['PreviousEarlyRepaymentsCountBeforeLoan'].isnull()) & (data2['NewCreditCustomer']==True)]=0

In [14]:
#replace Intrest and penalty that still not payed null value  by 0 when the borrower haven't get a loan before 
#data2['EmploymentDurationCurrentEmployer'][(data2['EmploymentDurationCurrentEmployer'].isnull()) & (data2['EmploymentStatus']==1)]='Other'

In [15]:
#replace  employement status null value by 0 when income from principal employer is 0 
data2['EmploymentStatus'][(data2['EmploymentStatus'].isnull()) & (data2['IncomeFromPrincipalEmployer']==0)]=1

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/3235822939.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['EmploymentStatus'][(data2['EmploymentStatus'].isnull()) & (data2['IncomeFromPrincipalEmployer']==0)]=1

In [16]:
#calculate Monthly payment if it's null
data2['MonthlyPayment'][(data2['MonthlyPayment'].isnull())]=data2['IncomeTotal'][(data2['MonthlyPayment'].isnull())]/data2['LoanDuration'][(data2['MonthlyPayment'].isnull())]

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/1720972214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['MonthlyPayment'][(data2['MonthlyPayment'].isnull())]=data2['IncomeTotal'][(data2['MonthlyPayment'].isnull())]/data2['LoanDuration'][(data2['MonthlyPayment'].isnull())]

In [17]:
#select every borrower Education Status if it exist to replace  Education status null value in the loan informations
borrowersEducation=data1[['PartyId','Education']].dropna()
borrowersEducation=borrowersEducation[['PartyId','Education']].drop_duplicates()
borrowersEducation=borrowersEducation[['PartyId','Education']].drop_duplicates(subset=["PartyId"],keep='last')
len(borrowersEducation["PartyId"].unique())

114935

In [18]:
data4=data2.copy()
data2.isnull().sum()

Age                                          0
PartyId                                      0
Amount                                       0
LoanDuration                                 0
Country                                      0
Education                                   50
UseOfLoan                                    0
PrincipalPaymentsMade                        0
IncomeFromPrincipalEmployer                  0
EmploymentStatus                           107
Gender                                      45
HomeOwnershipType                         1657
IncomeTotal                                  0
MonthlyPayment                               0
InterestAndPenaltyBalance                 9297
MaritalStatus                               50
NewCreditCustomer                            0
NoOfPreviousLoansBeforeLoan                  3
PreviousEarlyRepaymentsCountBeforeLoan       3
Status                                       0
dtype: int64

In [19]:
#use borrowers education status dataFrame to replace null value if it exist
d=pd.merge(data4[(data4['Education'].isnull())].drop('Education',axis=1),borrowersEducation,how='inner',on='PartyId').drop_duplicates()
d

,Age,PartyId,Amount,LoanDuration,Country,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status,Education
0,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},159.7781,9,EE,102,49.5181,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid,0.0
1,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},191.7300,9,EE,110,0.0300,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,2.0,0.0,Repaid,0.0
2,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},127.8300,12,EE,110,0.0700,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,3.0,0.0,Repaid,0.0
3,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},102.2600,1,EE,102,0.0100,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,4.0,0.0,Repaid,0.0
4,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},313.1400,12,EE,102,0.0100,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,5.0,0.0,Repaid,0.0
5,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},223.6800,12,EE,102,0.0000,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,6.0,0.0,Repaid,0.0
6,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},83.0800,12,EE,110,0.0000,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,7.0,0.0,Repaid,0.0
7,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},115.0300,12,EE,110,0.0000,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,9.0,0.0,Repaid,0.0
8,0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},134.2200,3,EE,102,0.0000,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,10.0,0.0,Repaid,0.0
9,0,{25043AF8-869E-4D1D-9993-9D4500D931B6},1316.6342,12,EE,102,1.1342,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid,0.0
10,0,{25043AF8-869E-4D1D-9993-9D4500D931B6},1278.1600,12,EE,101,0.0000,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,3.0,0.0,Repaid,0.0
11,0,{D80CFBE6-F3E2-4940-BC58-9D580104BA4C},447.4136,18,EE,102,101.1036,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid,0.0
12,0,{D80CFBE6-F3E2-4940-BC58-9D580104BA4C},862.8496,24,EE,102,131.0696,0.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,True,1.0,0.0,Repaid,0.0
13,58,{4DB5106D-34E6-40ED-ABAC-9DEF00F8ABB9},5005.0000,48,EE,3,5005.0000,0.0,1.0,0.0,NaN,0.0,0.0,0.0,NaN,False,NaN,NaN,Repaid,3.0
14,24,{544DFBAC-374F-4039-AE45-9BB700E44853},10.0000,24,EE,7,10.0000,0.0,1.0,0.0,NaN,0.0,0.0,0.0,NaN,False,NaN,NaN,Repaid,5.0
15,30,{DC2012BA-26FB-4EB2-B196-A10E0110169D},600.0000,6,EE,3,600.0000,0.0,1.0,1.0,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid,5.0
16,59,{2B072B6A-3E88-4E62-91D4-9F4C00BA094F},500.0000,12,EE,6,500.0000,0.0,1.0,1.0,NaN,0.0,0.0,0.0,NaN,False,NaN,NaN,Repaid,4.0
17,28,{6F4EDBF6-B399-4AE4-B46C-A0440074A15D},500.0000,24,EE,7,500.0000,0.0,1.0,0.0,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid,3.0

In [20]:
data2.loc[(data2['Education'].isnull()) & (data2['PartyId'].isin(d['PartyId'])),'Education']=d['Education'].values.tolist()

In [21]:
data2.isnull().sum()

Age                                          0
PartyId                                      0
Amount                                       0
LoanDuration                                 0
Country                                      0
Education                                   32
UseOfLoan                                    0
PrincipalPaymentsMade                        0
IncomeFromPrincipalEmployer                  0
EmploymentStatus                           107
Gender                                      45
HomeOwnershipType                         1657
IncomeTotal                                  0
MonthlyPayment                               0
InterestAndPenaltyBalance                 9297
MaritalStatus                               50
NewCreditCustomer                            0
NoOfPreviousLoansBeforeLoan                  3
PreviousEarlyRepaymentsCountBeforeLoan       3
Status                                       0
dtype: int64

In [22]:
#select every borrower EmploymentStatus if it exist to replace  EmploymentStatus null value in the loan informations
borrowersEmploymentStatus=data1[['PartyId','EmploymentStatus']].dropna()
borrowersEmploymentStatus=borrowersEmploymentStatus[['PartyId','EmploymentStatus']].drop_duplicates()
borrowersEmploymentStatus=borrowersEmploymentStatus[['PartyId','EmploymentStatus']].drop_duplicates(subset=["PartyId"],keep='last')
borrowersEmploymentStatus.count()

PartyId             114895
EmploymentStatus    114895
dtype: int64

In [23]:
#use borrowers EmploymentStatus dataFrame to replace null value if it exist
d1=pd.merge(borrowersEmploymentStatus,data4[(data4['EmploymentStatus'].isnull())].drop('EmploymentStatus',axis=1),how='inner',on='PartyId').drop_duplicates()
d1

,PartyId,EmploymentStatus,Age,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,{4795E701-7759-4FC8-8802-9BD10149713C},3.0,36,12.7789,3,EE,5.0,7,4.1489,6000.0,0.0,NaN,10200.0,3400.000000,55.73,1.0,True,1.0,0.0,Late
1,{4795E701-7759-4FC8-8802-9BD10149713C},3.0,36,31.9604,3,EE,5.0,7,0.3904,6000.0,0.0,NaN,10200.0,3400.000000,204.55,1.0,True,2.0,0.0,Late
2,{58424B87-B621-44AD-AB62-9BBF00D9797F},3.0,32,95.8581,12,EE,2.0,7,95.8581,8000.0,1.0,NaN,8300.0,691.666667,0.00,3.0,False,4.0,0.0,Repaid
3,{2BE512D4-DFF8-4706-BEE0-9BB900D0EC68},3.0,54,178.9532,12,EE,4.0,0,178.9532,16318.0,1.0,NaN,17318.0,1443.166667,0.00,1.0,True,1.0,0.0,Repaid
4,{1F0D4748-F925-4649-842C-9C0A00DD5B42},3.0,23,63.9118,15,EE,2.0,0,63.9118,11000.0,1.0,NaN,11600.0,773.333333,0.00,3.0,True,2.0,0.0,Repaid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,{383D15CA-594C-4449-B2E1-A234012B3615},1.0,27,1500.0000,18,EE,5.0,0,1500.0000,511.0,0.0,1.0,511.0,28.388889,0.00,2.0,True,0.0,0.0,Repaid
70,{03C456B3-EDC1-4050-B543-9C4D00E78923},1.0,18,95.8677,10,EE,2.0,4,95.8677,5000.0,0.0,NaN,6000.0,600.000000,0.00,2.0,True,0.0,0.0,Repaid
71,{4853F3E9-1630-44A8-A59B-A25100AC51E5},1.0,49,6100.0000,60,EE,5.0,0,5136.8300,700.0,1.0,8.0,700.0,11.666667,0.00,5.0,True,0.0,0.0,Repaid
72,{DB0CF86E-7C79-4294-BD28-9D3400CA7516},1.0,25,223.6908,1,EE,4.0,7,223.6908,3300.0,1.0,NaN,3900.0,3900.000000,0.00,2.0,True,0.0,0.0,Repaid
73,{B8253054-0DC9-453B-BB15-9D5600FFA9EA},1.0,38,191.7349,6,EE,4.0,8,191.7349,3000.0,1.0,NaN,5000.0,833.333333,0.00,3.0,True,0.0,0.0,Repaid

In [24]:
data2.loc[(data2['EmploymentStatus'].isnull()) & (data2['PartyId'].isin(d1['PartyId'])),'EmploymentStatus']=d1['EmploymentStatus'].values.tolist()

In [25]:
data2.isnull().sum()

Age                                          0
PartyId                                      0
Amount                                       0
LoanDuration                                 0
Country                                      0
Education                                   32
UseOfLoan                                    0
PrincipalPaymentsMade                        0
IncomeFromPrincipalEmployer                  0
EmploymentStatus                            33
Gender                                      45
HomeOwnershipType                         1657
IncomeTotal                                  0
MonthlyPayment                               0
InterestAndPenaltyBalance                 9297
MaritalStatus                               50
NewCreditCustomer                            0
NoOfPreviousLoansBeforeLoan                  3
PreviousEarlyRepaymentsCountBeforeLoan       3
Status                                       0
dtype: int64

In [26]:
#select every borrower Gender if it exist to replace  Gender null value in the loan informations
borrowersGender=data1[['PartyId','Gender']].dropna()
borrowersGender=borrowersGender[['PartyId','Gender']].drop_duplicates()
borrowersGender=borrowersGender[['PartyId','Gender']].drop_duplicates(subset=["PartyId"],keep='last')
borrowersGender.count()

PartyId    114935
Gender     114935
dtype: int64

In [27]:
#use borrowers Gender dataFrame to replace null value if it exist
d2=pd.merge(borrowersGender,data4[(data4['Gender'].isnull())].drop('Gender',axis=1),how='inner',on='PartyId').drop_duplicates()
d2

,PartyId,Gender,Age,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,159.7781,9,EE,NaN,102,49.5181,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid
1,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,191.7300,9,EE,NaN,110,0.0300,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,2.0,0.0,Repaid
2,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,127.8300,12,EE,NaN,110,0.0700,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,3.0,0.0,Repaid
3,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,102.2600,1,EE,NaN,102,0.0100,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,4.0,0.0,Repaid
4,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,313.1400,12,EE,NaN,102,0.0100,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,5.0,0.0,Repaid
5,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,223.6800,12,EE,NaN,102,0.0000,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,6.0,0.0,Repaid
6,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,83.0800,12,EE,NaN,110,0.0000,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,7.0,0.0,Repaid
7,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,115.0300,12,EE,NaN,110,0.0000,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,9.0,0.0,Repaid
8,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,134.2200,3,EE,NaN,102,0.0000,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,10.0,0.0,Repaid
9,{25043AF8-869E-4D1D-9993-9D4500D931B6},0.0,0,1316.6342,12,EE,NaN,102,1.1342,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid
10,{25043AF8-869E-4D1D-9993-9D4500D931B6},0.0,0,1278.1600,12,EE,NaN,101,0.0000,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,3.0,0.0,Repaid
11,{D80CFBE6-F3E2-4940-BC58-9D580104BA4C},0.0,0,447.4136,18,EE,NaN,102,101.1036,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,0.0,0.0,Repaid
12,{D80CFBE6-F3E2-4940-BC58-9D580104BA4C},0.0,0,862.8496,24,EE,NaN,102,131.0696,0.0,1.0,NaN,0.0,0.0,0.0,NaN,True,1.0,0.0,Repaid

In [28]:
data2.loc[(data2['Gender'].isnull()) & (data2['PartyId'].isin(d2['PartyId'])),'Gender']=d2['Gender'].values.tolist()

In [29]:
data2.isnull().sum()

Age                                          0
PartyId                                      0
Amount                                       0
LoanDuration                                 0
Country                                      0
Education                                   32
UseOfLoan                                    0
PrincipalPaymentsMade                        0
IncomeFromPrincipalEmployer                  0
EmploymentStatus                            33
Gender                                      32
HomeOwnershipType                         1657
IncomeTotal                                  0
MonthlyPayment                               0
InterestAndPenaltyBalance                 9297
MaritalStatus                               50
NewCreditCustomer                            0
NoOfPreviousLoansBeforeLoan                  3
PreviousEarlyRepaymentsCountBeforeLoan       3
Status                                       0
dtype: int64

In [30]:
#select every borrower HomeOwnershipType if it exist to replace  Gender null value in the loan informations
borrowersHomeOwnershipType=data1[['PartyId','HomeOwnershipType']].dropna()
borrowersHomeOwnershipType=borrowersHomeOwnershipType[['PartyId','HomeOwnershipType']].drop_duplicates()
borrowersHomeOwnershipType=borrowersHomeOwnershipType[['PartyId','HomeOwnershipType']].drop_duplicates(subset=["PartyId"],keep='last')
borrowersHomeOwnershipType.count()

PartyId              114609
HomeOwnershipType    114609
dtype: int64

In [31]:
#use borrowers HomeOwnershipType dataFrame to replace null value if it exist
d3=pd.merge(borrowersHomeOwnershipType,data4[(data4['HomeOwnershipType'].isnull())].drop('HomeOwnershipType',axis=1),how='inner',on='PartyId').drop_duplicates()
d3

,PartyId,HomeOwnershipType,Age,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,{1700872C-AB88-4546-B0EF-9BCB00288A99},0.0,19,89.4700,4,EE,2.0,8,58.1700,7000.0,3.0,0.0,12000.0,3000.000000,725.50,2.0,True,2.0,0.0,Repaid
1,{1700872C-AB88-4546-B0EF-9BCB00288A99},0.0,19,38.3500,2,EE,2.0,7,24.9300,7200.0,3.0,0.0,8700.0,4350.000000,314.56,2.0,True,4.0,0.0,Repaid
2,{1700872C-AB88-4546-B0EF-9BCB00288A99},0.0,19,25.5600,2,EE,2.0,7,16.6100,7200.0,3.0,0.0,8700.0,4350.000000,208.20,2.0,True,5.0,0.0,Repaid
3,{4795E701-7759-4FC8-8802-9BD10149713C},0.0,36,12.7789,3,EE,5.0,7,4.1489,6000.0,NaN,0.0,10200.0,3400.000000,55.73,1.0,True,1.0,0.0,Late
4,{4795E701-7759-4FC8-8802-9BD10149713C},0.0,36,31.9604,3,EE,5.0,7,0.3904,6000.0,NaN,0.0,10200.0,3400.000000,204.55,1.0,True,2.0,0.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,{26FBDC1C-D4D1-4B23-9142-9D1400DC9F0B},1.0,26,31.9443,12,EE,2.0,7,31.9443,1000.0,NaN,0.0,2600.0,216.666667,0.00,3.0,True,0.0,0.0,Repaid
880,{26FBDC1C-D4D1-4B23-9142-9D1400DC9F0B},1.0,26,159.7967,12,EE,2.0,7,159.7967,1000.0,NaN,0.0,2600.0,216.666667,0.00,3.0,True,1.0,0.0,Repaid
881,{26FBDC1C-D4D1-4B23-9142-9D1400DC9F0B},1.0,26,95.8676,6,EE,2.0,7,95.8676,1000.0,NaN,0.0,2600.0,433.333333,0.00,3.0,True,2.0,0.0,Repaid
882,{26FBDC1C-D4D1-4B23-9142-9D1400DC9F0B},1.0,26,31.9558,1,EE,3.0,7,31.9558,3000.0,2.0,0.0,4600.0,4600.000000,0.00,3.0,True,3.0,0.0,Repaid
883,{26FBDC1C-D4D1-4B23-9142-9D1400DC9F0B},1.0,26,287.6124,12,EE,3.0,7,287.6124,3000.0,2.0,0.0,4000.0,333.333333,0.00,3.0,False,4.0,0.0,Repaid

In [32]:
data2.loc[(data2['HomeOwnershipType'].isnull()) & (data2['PartyId'].isin(d3['PartyId'])),'HomeOwnershipType']=d3['HomeOwnershipType'].values.tolist()

In [33]:
#select every borrower MaritalStatus if it exist to replace  MaritalStatus null value in the loan informations
borrowersMaritalStatus=data1[['PartyId','MaritalStatus']].dropna()
borrowersMaritalStatus=borrowersMaritalStatus[['PartyId','MaritalStatus']].drop_duplicates()
borrowersMaritalStatus=borrowersMaritalStatus[['PartyId','MaritalStatus']].drop_duplicates(subset=["PartyId"],keep='last')
borrowersMaritalStatus.count()

PartyId          114935
MaritalStatus    114935
dtype: int64

In [34]:
#use borrowers MaritalStatus dataFrame to replace null value if it exist
d4=pd.merge(borrowersMaritalStatus,data2[(data2['MaritalStatus'].isnull())].drop('MaritalStatus',axis=1),how='inner',on='PartyId').drop_duplicates()
d4

,PartyId,MaritalStatus,Age,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,159.7781,9,EE,0.0,102,49.5181,0.0,1.0,0.0,8.0,0.0,0.0,0.0,True,0.0,0.0,Repaid
1,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,191.7300,9,EE,0.0,110,0.0300,0.0,1.0,0.0,8.0,0.0,0.0,0.0,True,2.0,0.0,Repaid
2,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,127.8300,12,EE,0.0,110,0.0700,0.0,1.0,0.0,8.0,0.0,0.0,0.0,True,3.0,0.0,Repaid
3,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,102.2600,1,EE,0.0,102,0.0100,0.0,1.0,0.0,8.0,0.0,0.0,0.0,True,4.0,0.0,Repaid
4,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,313.1400,12,EE,0.0,102,0.0100,0.0,1.0,0.0,7.0,0.0,0.0,0.0,True,5.0,0.0,Repaid
5,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,223.6800,12,EE,0.0,102,0.0000,0.0,1.0,0.0,7.0,0.0,0.0,0.0,True,6.0,0.0,Repaid
6,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,83.0800,12,EE,0.0,110,0.0000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,True,7.0,0.0,Repaid
7,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,115.0300,12,EE,0.0,110,0.0000,0.0,1.0,0.0,8.0,0.0,0.0,0.0,True,9.0,0.0,Repaid
8,{F2BD2058-156B-48F2-861C-9D2500AADF0D},0.0,0,134.2200,3,EE,0.0,102,0.0000,0.0,1.0,0.0,3.0,0.0,0.0,0.0,True,10.0,0.0,Repaid
9,{25043AF8-869E-4D1D-9993-9D4500D931B6},0.0,0,1316.6342,12,EE,0.0,102,1.1342,0.0,1.0,0.0,3.0,0.0,0.0,0.0,True,0.0,0.0,Repaid
10,{25043AF8-869E-4D1D-9993-9D4500D931B6},0.0,0,1278.1600,12,EE,0.0,101,0.0000,0.0,1.0,0.0,3.0,0.0,0.0,0.0,True,3.0,0.0,Repaid
11,{D80CFBE6-F3E2-4940-BC58-9D580104BA4C},0.0,0,447.4136,18,EE,0.0,102,101.1036,0.0,1.0,0.0,1.0,0.0,0.0,0.0,True,0.0,0.0,Repaid
12,{D80CFBE6-F3E2-4940-BC58-9D580104BA4C},0.0,0,862.8496,24,EE,0.0,102,131.0696,0.0,1.0,0.0,1.0,0.0,0.0,0.0,True,1.0,0.0,Repaid
13,{4DB5106D-34E6-40ED-ABAC-9DEF00F8ABB9},1.0,58,5005.0000,48,EE,3.0,3,5005.0000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,False,NaN,NaN,Repaid
14,{2B072B6A-3E88-4E62-91D4-9F4C00BA094F},1.0,59,500.0000,12,EE,4.0,6,500.0000,0.0,1.0,1.0,1.0,0.0,0.0,0.0,False,NaN,NaN,Repaid
15,{544DFBAC-374F-4039-AE45-9BB700E44853},2.0,24,10.0000,24,EE,5.0,7,10.0000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,False,NaN,NaN,Repaid
16,{DC2012BA-26FB-4EB2-B196-A10E0110169D},2.0,30,600.0000,6,EE,5.0,3,600.0000,0.0,1.0,1.0,1.0,0.0,0.0,0.0,True,0.0,0.0,Repaid
17,{6F4EDBF6-B399-4AE4-B46C-A0440074A15D},1.0,28,500.0000,24,EE,3.0,7,500.0000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,True,0.0,0.0,Repaid

In [35]:
data2.loc[(data2['MaritalStatus'].isnull()) & (data2['PartyId'].isin(d4['PartyId'])),'MaritalStatus']=d4['MaritalStatus'].values.tolist()

In [36]:
#even after replacing NrOfDependants null value by existing information in our data it still 100000 null value which is is 66% of our data so we drop this colonne
#data2=data2.drop('NrOfDependants',axis=1)

In [37]:
data2.isnull().sum()

Age                                          0
PartyId                                      0
Amount                                       0
LoanDuration                                 0
Country                                      0
Education                                   32
UseOfLoan                                    0
PrincipalPaymentsMade                        0
IncomeFromPrincipalEmployer                  0
EmploymentStatus                            33
Gender                                      32
HomeOwnershipType                          773
IncomeTotal                                  0
MonthlyPayment                               0
InterestAndPenaltyBalance                 9297
MaritalStatus                               32
NewCreditCustomer                            0
NoOfPreviousLoansBeforeLoan                  3
PreviousEarlyRepaymentsCountBeforeLoan       3
Status                                       0
dtype: int64

In [38]:
(data2.isnull().sum()/data2.shape[0]).sum()

0.06224458676425739

In [39]:
data2[data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']].shape[0]

2405

In [40]:
keep_value=data2[['PreviousEarlyRepaymentsCountBeforeLoan','NoOfPreviousLoansBeforeLoan']]
[data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']].copy()

[0         False
 2         False
 3         False
 4          True
 5         False
           ...
 252452    False
 252453    False
 252455    False
 252456    False
 252457    False
 Length: 163950, dtype: bool]

In [41]:
data2[['NoOfPreviousLoansBeforeLoan','PreviousEarlyRepaymentsCountBeforeLoan']][data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']]=keep_value

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/2279649352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2[['NoOfPreviousLoansBeforeLoan','PreviousEarlyRepaymentsCountBeforeLoan']][data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']]=keep_value
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [42]:
data2[(data2['InterestAndPenaltyBalance']!= 0) & (data2['NewCreditCustomer']==True)].shape[0]

42237

In [43]:
data2['NewCreditCustomer'][(data2['InterestAndPenaltyBalance']!= 0) & (data2['NewCreditCustomer']==True)]=False

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/1034728884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['NewCreditCustomer'][(data2['InterestAndPenaltyBalance']!= 0) & (data2['NewCreditCustomer']==True)]=False

In [44]:
data2[(data2['PreviousEarlyRepaymentsCountBeforeLoan']!= 0) & (data2['NewCreditCustomer']==True)].shape[0]

1215

In [45]:
data2['PreviousEarlyRepaymentsCountBeforeLoan'][(data2['PreviousEarlyRepaymentsCountBeforeLoan']!= 0) & (data2['NewCreditCustomer']==True)]=0

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/1702027625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['PreviousEarlyRepaymentsCountBeforeLoan'][(data2['PreviousEarlyRepaymentsCountBeforeLoan']!= 0) & (data2['NewCreditCustomer']==True)]=0

In [46]:
data2[(data2['NoOfPreviousLoansBeforeLoan']!= 0) & (data2['NewCreditCustomer']==True)].shape[0]

7877

In [47]:
data2['NoOfPreviousLoansBeforeLoan'][(data2['NoOfPreviousLoansBeforeLoan']!= 0) & (data2['NewCreditCustomer']==True)]=0

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/3175373317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['NoOfPreviousLoansBeforeLoan'][(data2['NoOfPreviousLoansBeforeLoan']!= 0) & (data2['NewCreditCustomer']==True)]=0

In [48]:
data2[data2['MonthlyPayment']>data2['IncomeTotal']]

,Age,PartyId,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
92,42,{CCC59ACE-F7C1-455F-8CEF-AB120159BF33},2126.0,60,EE,1.0,1,0.02,0.0,1.0,0.0,10.0,0.0,76.35,68.58,1.0,False,2.0,0.0,Late
431,29,{76CFE0DD-66A9-4354-94A7-ACD50114578A},531.0,60,EE,1.0,1,15.84,0.0,1.0,0.0,1.0,0.0,19.26,NaN,1.0,False,3.0,0.0,Late
434,29,{76CFE0DD-66A9-4354-94A7-ACD50114578A},1063.0,60,EE,1.0,1,31.69,0.0,1.0,0.0,1.0,0.0,38.54,NaN,1.0,False,4.0,0.0,Late
452,29,{76CFE0DD-66A9-4354-94A7-ACD50114578A},531.0,60,EE,1.0,1,15.84,0.0,1.0,0.0,1.0,0.0,19.26,NaN,1.0,False,5.0,0.0,Late
554,35,{F6C3B4D4-0C7A-40C2-8C0C-A98B013D0962},637.0,60,EE,1.0,1,5.04,0.0,1.0,0.0,1.0,0.0,21.77,NaN,1.0,False,3.0,0.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252316,29,{76CFE0DD-66A9-4354-94A7-ACD50114578A},850.0,60,EE,1.0,1,25.35,0.0,1.0,0.0,1.0,0.0,30.82,NaN,1.0,False,8.0,0.0,Late
252347,38,{D6EBF91F-810D-4C3F-B897-AA1C0100B7ED},1594.0,60,EE,1.0,1,20.33,0.0,1.0,0.0,3.0,0.0,59.40,NaN,1.0,False,4.0,0.0,Late
252355,26,{13ECAF5D-4B16-4D66-BF43-ADAA0127EE8E},3189.0,60,EE,1.0,1,69.07,0.0,1.0,1.0,3.0,0.0,115.64,NaN,1.0,False,4.0,0.0,Late
252388,28,{5786AA54-2A9C-4E95-8468-AB9F00EE73B2},1063.0,60,EE,1.0,1,31.43,0.0,1.0,0.0,2.0,0.0,32.00,NaN,1.0,False,4.0,0.0,Late
252435,42,{CCC59ACE-F7C1-455F-8CEF-AB120159BF33},637.0,60,EE,1.0,1,0.00,0.0,1.0,0.0,10.0,0.0,22.87,NaN,1.0,False,5.0,0.0,Late

In [49]:
data2['NoOfPreviousLoansBeforeLoan'][data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']]=data2['PreviousEarlyRepaymentsCountBeforeLoan'][data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']]

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/594088243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['NoOfPreviousLoansBeforeLoan'][data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']]=data2['PreviousEarlyRepaymentsCountBeforeLoan'][data2['PreviousEarlyRepaymentsCountBeforeLoan']>data2['NoOfPreviousLoansBeforeLoan']]

In [50]:
#we drop all the rows that contain at least one null cell value
data2=data2.dropna(axis = 0, how ='any')
data2

,Age,PartyId,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,53,{EBF05573-554D-4A3B-BC77-A2CF00B7D110},2125.0,60,EE,4.0,2,995.83,0.0,6.0,1.0,1.0,354.0,62.05,507.21,2.0,False,1.0,0.0,Late
2,50,{46C6CBA4-0FBE-44AD-9304-A3EF0111A5FB},3000.0,60,EE,5.0,3,729.87,900.0,5.0,1.0,1.0,900.0,84.75,2429.70,2.0,False,1.0,1.0,Repaid
3,44,{CA64DA9B-8E95-450E-9EFE-A58601016DB2},9100.0,60,EE,4.0,3,6537.00,600.0,5.0,0.0,8.0,1200.0,268.57,0.00,4.0,True,0.0,0.0,Repaid
4,42,{F08F654D-DB2E-4C4B-8C90-A46100FCE7B6},1500.0,60,ES,2.0,2,464.73,863.0,3.0,0.0,2.0,863.0,63.53,2972.09,1.0,False,1.0,1.0,Late
5,34,{DAFC5C08-8201-4654-9D06-A56D00084659},1090.0,48,ES,4.0,7,0.01,0.0,6.0,1.0,3.0,697.0,101.19,4461.78,4.0,False,0.0,0.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252452,38,{302F94E7-64CB-4BD4-A2E4-A43001129494},2000.0,60,FI,3.0,6,0.00,1500.0,3.0,1.0,3.0,2300.0,76.11,4284.86,1.0,False,0.0,0.0,Late
252453,37,{F6CBE499-95EA-467A-B930-A3CD00B3A1CA},7440.0,60,FI,4.0,0,7440.00,2172.0,3.0,0.0,4.0,2172.0,232.40,0.00,3.0,False,2.0,0.0,Repaid
252455,37,{289CB355-E120-4365-9052-A3120148A7B1},1485.0,60,ES,3.0,7,1485.00,1550.0,3.0,0.0,8.0,1550.0,93.08,0.00,3.0,False,3.0,1.0,Repaid
252456,58,{2513C653-4D23-4F77-9D00-A4F200CDC2B3},3000.0,60,EE,3.0,6,3000.00,350.0,3.0,1.0,1.0,350.0,88.71,0.00,1.0,True,0.0,0.0,Repaid
252457,64,{B731A410-81A9-4929-AD3F-A05000FEFBDB},1300.0,48,EE,4.0,6,475.78,557.0,4.0,0.0,1.0,867.0,41.42,0.00,1.0,False,4.0,2.0,Repaid

In [51]:
data2=data2.drop('PartyId',axis=1)
data2

,Age,Amount,LoanDuration,Country,Education,UseOfLoan,PrincipalPaymentsMade,IncomeFromPrincipalEmployer,EmploymentStatus,Gender,HomeOwnershipType,IncomeTotal,MonthlyPayment,InterestAndPenaltyBalance,MaritalStatus,NewCreditCustomer,NoOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,53,2125.0,60,EE,4.0,2,995.83,0.0,6.0,1.0,1.0,354.0,62.05,507.21,2.0,False,1.0,0.0,Late
2,50,3000.0,60,EE,5.0,3,729.87,900.0,5.0,1.0,1.0,900.0,84.75,2429.70,2.0,False,1.0,1.0,Repaid
3,44,9100.0,60,EE,4.0,3,6537.00,600.0,5.0,0.0,8.0,1200.0,268.57,0.00,4.0,True,0.0,0.0,Repaid
4,42,1500.0,60,ES,2.0,2,464.73,863.0,3.0,0.0,2.0,863.0,63.53,2972.09,1.0,False,1.0,1.0,Late
5,34,1090.0,48,ES,4.0,7,0.01,0.0,6.0,1.0,3.0,697.0,101.19,4461.78,4.0,False,0.0,0.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252452,38,2000.0,60,FI,3.0,6,0.00,1500.0,3.0,1.0,3.0,2300.0,76.11,4284.86,1.0,False,0.0,0.0,Late
252453,37,7440.0,60,FI,4.0,0,7440.00,2172.0,3.0,0.0,4.0,2172.0,232.40,0.00,3.0,False,2.0,0.0,Repaid
252455,37,1485.0,60,ES,3.0,7,1485.00,1550.0,3.0,0.0,8.0,1550.0,93.08,0.00,3.0,False,3.0,1.0,Repaid
252456,58,3000.0,60,EE,3.0,6,3000.00,350.0,3.0,1.0,1.0,350.0,88.71,0.00,1.0,True,0.0,0.0,Repaid
252457,64,1300.0,48,EE,4.0,6,475.78,557.0,4.0,0.0,1.0,867.0,41.42,0.00,1.0,False,4.0,2.0,Repaid

In [52]:

  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
data2['Country']= label_encoder.fit_transform(data2['Country'])
  
data2['Country'].unique()

array([0, 1, 2, 3])

In [53]:
data2['NewCreditCustomer']= label_encoder.fit_transform(data2['NewCreditCustomer'])
  
data2['NewCreditCustomer'].unique()

array([0, 1], dtype=int64)

In [54]:
data2['Status']= label_encoder.fit_transform(data2['Status'])
  
data2['Status'].unique()

array([0, 1])

In [55]:
data2['ratioPayedL']=data2['PreviousEarlyRepaymentsCountBeforeLoan'][(data2['NoOfPreviousLoansBeforeLoan']!=0) ]/data2['NoOfPreviousLoansBeforeLoan'][(data2['NoOfPreviousLoansBeforeLoan']!=0) ]

In [56]:
data2['ratioIncome']=data2['MonthlyPayment'][(data2['IncomeTotal']!=0) ]/data2['IncomeTotal'][(data2['IncomeTotal']!=0) ]

In [57]:
data2['ratioIncome'][(data2['ratioIncome'].isnull()) ]=1
data2['ratioPayedL'][(data2['ratioPayedL'].isnull()) ]=1

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/2591047781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['ratioIncome'][(data2['ratioIncome'].isnull()) ]=1
C:\Users\houss\AppData\Local\Temp/ipykernel_2724/2591047781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['ratioPayedL'][(data2['ratioPayedL'].isnull()) ]=1

In [58]:
data2['ratioIncome'][(data2['ratioIncome']>1) ]=1

C:\Users\houss\AppData\Local\Temp/ipykernel_2724/1147774460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['ratioIncome'][(data2['ratioIncome']>1) ]=1

In [59]:
minmax_scale1 = MinMaxScaler().fit(data2[['InterestAndPenaltyBalance','Age','Country','Education','UseOfLoan','EmploymentStatus','HomeOwnershipType']])
data2[['InterestAndPenaltyBalance_scaling','Age_sc','Country_sc','Education_sc','UseOfLoan_sc','EmploymentStatus_sc','HomeOwnershipType_sc']] =np.round( minmax_scale1.transform(data2[['InterestAndPenaltyBalance','Age','Country','Education','UseOfLoan','EmploymentStatus','HomeOwnershipType']]),2)

In [60]:
minmax_scale = MinMaxScaler().fit(data2[['Amount','MonthlyPayment']])
data2[['Amount_sc','MonthlyPayment_sc']] =np.round( minmax_scale.transform(data2[['Amount','MonthlyPayment']]),2)

In [61]:
data2.isnull().sum()

Age                                       0
Amount                                    0
LoanDuration                              0
Country                                   0
Education                                 0
UseOfLoan                                 0
PrincipalPaymentsMade                     0
IncomeFromPrincipalEmployer               0
EmploymentStatus                          0
Gender                                    0
HomeOwnershipType                         0
IncomeTotal                               0
MonthlyPayment                            0
InterestAndPenaltyBalance                 0
MaritalStatus                             0
NewCreditCustomer                         0
NoOfPreviousLoansBeforeLoan               0
PreviousEarlyRepaymentsCountBeforeLoan    0
Status                                    0
ratioPayedL                               0
ratioIncome                               0
InterestAndPenaltyBalance_scaling         0
Age_sc                                    0
Country_sc                                0
Education_sc                              0
UseOfLoan_sc                              0
EmploymentStatus_sc                       0
HomeOwnershipType_sc                      0
Amount_sc                                 0
MonthlyPayment_sc                         0
dtype: int64

In [62]:
data3=data2[['ratioPayedL','ratioIncome']].astype(np.float16)
data3[['InterestAndPenaltyBalance_scaling','Age_sc','Country_sc','Education_sc','UseOfLoan_sc','EmploymentStatus_sc','HomeOwnershipType_sc']]=data2[['InterestAndPenaltyBalance_scaling','Age_sc','Country_sc','Education_sc','UseOfLoan_sc','EmploymentStatus_sc','HomeOwnershipType_sc']]
data3[['Gender','NewCreditCustomer']]=data2[['Gender','NewCreditCustomer']].astype(np.int0)
data3

,ratioPayedL,ratioIncome,InterestAndPenaltyBalance_scaling,Age_sc,Country_sc,Education_sc,UseOfLoan_sc,EmploymentStatus_sc,HomeOwnershipType_sc,Gender,NewCreditCustomer
0,0.000000,0.175293,0.01,0.71,0.00,0.8,0.02,1.00,0.1,1,0
2,1.000000,0.094177,0.03,0.67,0.00,1.0,0.03,0.83,0.1,1,0
3,1.000000,0.223755,0.00,0.59,0.00,0.8,0.03,0.83,0.8,0,1
4,1.000000,0.073608,0.04,0.56,0.33,0.4,0.02,0.50,0.2,0,0
5,1.000000,0.145142,0.06,0.45,0.33,0.8,0.06,1.00,0.3,1,0
...,...,...,...,...,...,...,...,...,...,...,...
252452,1.000000,0.033081,0.05,0.51,0.67,0.6,0.05,0.50,0.3,1,0
252453,0.000000,0.106995,0.00,0.49,0.67,0.8,0.00,0.50,0.4,0,0
252455,0.333252,0.060059,0.00,0.49,0.33,0.6,0.06,0.50,0.8,0,0
252456,1.000000,0.253418,0.00,0.77,0.00,0.6,0.05,0.50,0.1,1,1
252457,0.500000,0.047760,0.00,0.85,0.00,0.8,0.05,0.67,0.1,0,0

In [63]:
label=data2 ['Status']
label

0         0
2         1
3         1
4         0
5         0
         ..
252452    0
252453    1
252455    1
252456    1
252457    1
Name: Status, Length: 153873, dtype: int32